{{> head }}

{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Historia de Caballeros</h1>
        <p>
            De un caballero se esperaba que sea un guardia del castillo y en apoyo de su señor feudal en las guerras.

            El caballero medieval fue uno de los tres tipos de hombres de guerra durante la Edad Media: caballeros, soldados de infantería, y arqueros.

            El caballero medieval era el equivalente del tanque moderno.

            Estaba cubierto de varias capas de blindaje, y era muy difícil enfrentarlo, y menos aun de a pie o de parado.

            Generalmente eran de una familia de buena posición económica, pues era sumamente caro conseguir las armaduras y el caballo ideal para la batalla.

            El caballo de batalla podría costar el equivalente hoy de un automóvil.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/knight.jpg" class="img-thumbnail" alt="">
    </div>
</div>
{{> footer }}
